---
import RecordButton from '../components/Recorder'
import Layout from '../layouts/Layout.astro'
---

<script></script>
<Layout title="اقرألي">
    <main class="w-full prose mt-4 container p-4 max-w-96">
        <h6 class="self-center font-semibold font-sans">
            مرحباً بك في <span class="text-iqraelitext">إقرألي</span>، حيث يمكنك
            تسجيل آيات من القرآن والحصول على تحليلات للآية على الفور
        </h6>

        <ol
            style={{
                'list-style': 'arabic-indic',
            }}
        >
            <li>سجل آية من القرآن، حاول أن تشمل آية واحدة فقط</li>
            <li>أرسل الآية للتحليل</li>
            <li>استمع للآية من الشيخ وتدرب عليها</li>
            <li>اكتشف تفسير الآية</li>
        </ol>
        <p>
            نصيحة: يمكنك أثناء التسجيل أن تقول مثلاً "سورة البقرة" لإضافة مزيد
            من البيانات
        </p>

        <RecordButton client:load />
    </main>
</Layout>
