---
import RecordButton from "../components/Recorder";
import Layout from "../layouts/Layout.astro";
---

<script></script>

<Layout title="اقرألي">
  <section class="text-center p-8">
    <h2 class="text-4xl font-bold mb-4">تسجيل الآيات القرآنية</h2>
    <p class="text-lg mb-6">
      سجّل آيات القرآن الكريم واستمع إليها لتحسين تلاوتك وتجويدك.
    </p>
    <RecordButton client:load />
  </section>
</Layout>
