---

---

<header class="mb-8">
    <nav class="border-gray-200 px-4 lg:px-6 py-2.5">
        <div
            class="flex flex-wrap items-center mx-auto max-w-screen-xl justify-center"
        >
            <a href="/" class="flex items-center">
                <span
                    class="self-center text-2xl font-semibold whitespace-nowrap font-decorative"
                    >اقرألي</span
                >
            </a>
        </div>
    </nav>
</header>
