---
import RecordButton from "./Recorder";
---

<header class="mb-12">
  <nav class="border-gray-200 px-4 lg:px-6 py-2.5">
    <div class="flex flex-wrap items-center mx-auto max-w-screen-xl">
      <RecordButton client:load />

      <a href="/" class="flex items-center">
        <!-- <img src="/logo.png" class="mr-3 h-32" alt="Iqraeli Logo" /> -->
        <span
          class="self-center text-3xl font-semibold whitespace-nowrap font-decorative"
          >اقرألي</span
        >
      </a>
    </div>
  </nav>
</header>
