---
import type { SurahType } from '../types/surah'

interface Props extends SurahType {
    tafsirArabic: string
}

const { surah, text, tafsirArabic } = Astro.props
---

<section class="flex flex-col gap-2 pose prose-sm">
    <section>
        <h2 class="font-decorative">
            {surah.name.long}
        </h2>
        <p class="text-lg">{text.arab}</p>
    </section>

    <section>
        <h2 class="font-decorative">التفسير</h2>
        <p class="text-lg">{tafsirArabic}</p>
    </section>
</section>
